@import "./resets.css";

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;
  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --light-grey: #828282;
  --dark-grey: #474747;
  --lighter-black: #292929;
  --accent: #2d6ccf;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.15);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --shadow--offset: 5px 5px 4px;
  --shadow-color: #0002;
  --navlink-active: var(--accent);
}

/* semantic color variables for this project */
[data-theme="light"] {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --container-background: var(--color-background-soft);

  /* clock */
  --clock-hand-color: var(--lighter-black);
  --indicator-color-small: #b5b5b5;
  --indicator-color-big: var(--lighter-black);
  --clock-dot-color: var(--lighter-black);
}

[data-theme="dark"] {
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-2);

  --container-background: var(--color-background-soft);

  /* clock */
  --clock-hand-color: var(--light-grey);
  --indicator-color-small: #5b5b5b;
  --indicator-color-big: var(--light-grey);
  --clock-dot-color: var(--light-grey);
}

/* hover styles */
@media (hover: hover) {
  [data-theme="light"] {
    --navlink-hover: var(--color-background-mute);
  }

  [data-theme="dark"] {
    --navlink-hover: var(--color-background-mute);
  }
}

.btn-container {
  backdrop-filter: blur(0.5rem);
  outline: 2px solid var(--color-border);
  border-radius: 0.5rem;
  margin-block-start: 1rem;
  padding: 1rem;
  box-shadow: var(--shadow--offset) var(--shadow-color);

  display: flex;
  gap: 1rem;
  justify-content: center;

  position: absolute;
  inset: auto 2rem 2rem 2rem;
  z-index: 2;
}

.btn {
  user-select: none;
  outline: 2px solid var(--accent);
  transition:
    background-color 200ms ease,
    transform 200ms ease;
  font-size: 1.2rem;
  width: 3.5rem;
  aspect-ratio: 1 / 1;
  text-align: center;
}

.btn-primary {
  background: var(--accent);
  color: var(--vt-c-white-soft);
}

.btn--circular {
  border-radius: 50%;
}

.btn:hover {
  filter: brightness(0.8);
}

.btn:active {
  transform: translateY(5px);
}

.btn:focus-visible {
  outline: 4px solid dodgerblue;
  transform: scale(1.1);
}

.btn:disabled {
  filter: brightness(0.5);
  cursor: not-allowed;
}

.time-display {
  font-family: "Ubuntu Mono", monospace;
  text-align: center;
  font-size: 2rem;
}

.time-display__milliseconds {
  color: var(--accent);
}

.list-container {
  margin: 0;
  padding: 0;
  list-style: none;

  flex-grow: 1;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-block-end: 10rem;
}

.empty-list-message {
  text-align: center;
  font-size: 1.2rem;
}

@media screen and (min-width: 50em) {
  .btn-container {
    background: transparent;
    width: auto;
    position: relative;
    inset: unset;
  }
}
