@import "./resets.css";

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --darker-white: #dfdfdf;

  --accent: #2d6ccf;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --lighter-black: #343434;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  /* components */
  --navlink-active: var(--accent);
  --navlink-hover: transparent;

  --clock-bg: var(--color-background-soft);
  --clock-hand-color: #474747;
  --indicator-color-small: #b5b5b5;
  --indicator-color-big: #282828;

  --target-time-background: var(--darker-white);
}

@media (hover: hover) {
  :root {
    --navlink-hover: var(--color-background-mute);
    --target-time-background-hover: var(--lighter-black);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }

  :root {
    --clock-hand-color: #ddd;
    --indicator-color-small: #5b5b5b;
    --indicator-color-big: #828282;

    --target-time-background: var(--lighter-black);
  }
}

.btn {
  user-select: none;
  outline: 2px solid var(--accent);
  transition: background-color 200ms ease, transform 200ms ease;
}

.btn:hover {
  filter: brightness(0.8);
}

.btn:active {
  transform: translateY(5px);
}

.btn:focus-visible {
  outline: 2px solid dodgerblue;
}

.btn:disabled {
  filter: brightness(0.5);
  cursor: not-allowed;
}

.btn-container {
  background: var(--color-background);
  border-radius: 0.5rem;
  padding: 1rem;

  display: flex;
  gap: 1rem;
  justify-content: center;

  position: absolute;
  left: 50%;
  bottom: -100%;
  transform: translateX(-50%);
  z-index: 2;
}

.btn {
  font-size: 1.2rem;
  width: 3.5rem;
  aspect-ratio: 1 / 1;
  text-align: center;
}

.btn-primary {
  background: var(--accent);
}

.btn--circular {
  border-radius: 50%;
}

@media screen and (min-width: 50em) {
  .btn-container {
    background: transparent;
    position: relative;
    bottom: unset;
  }

  .stopwatch-display::after {
    top: 0.5rem;
    transform: rotate(var(--stopwatch-dot));
    transform-origin: 50% 135px;
  }
}
